NODE_ENV=development

MONGODB_URI=
JWT_SECRET=change-this-secret-before-deployment

GATEWAY_PORT=5100
CUSTOMER_SERVICE_PORT=5101
BOOKING_SERVICE_PORT=5102
PAYMENT_SERVICE_PORT=5103
FARE_SERVICE_PORT=5104
LOCATION_SERVICE_PORT=5105

CUSTOMER_SERVICE_URL=http://localhost:5101
BOOKING_SERVICE_URL=http://localhost:5102
PAYMENT_SERVICE_URL=http://localhost:5103
FARE_SERVICE_URL=http://localhost:5104
LOCATION_SERVICE_URL=http://localhost:5105

RAPIDAPI_KEY=
TAXI_FARE_API_HOST=
TAXI_FARE_API_BASE_URL=
WEATHER_API_HOST=
WEATHER_API_BASE_URL=

CAB_READY_DELAY_MS=180000
